@page "/map"
@using Community.Blazor.MapLibre
@using Ellipse.Common.Models.Directions
@using Ellipse.Components.Shared.Menu

@namespace Ellipse.Components.Pages

<PageTitle>Map</PageTitle>

<div>
    <div class="h-screen">
        <div class="absolute inset-0 z-0">
            <MapLibre @ref="_map" Height="100%" Options="_mapOptions" OnLoad="OnMapLoaded"/>
        </div>
        <div class="fixed bottom-4 left-1/2 transform -translate-x-1/2 z-20 pointer-events-none">
            <MudPaper Class="pa-4 pointer-events-auto" Elevation="8" Style="background-color: white;">
                @if (_loading)
                {
                    <div class="flex items-center gap-2">
                        <MudText>Loading</MudText>
                        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Small"/>
                    </div>
                }
                else
                {
                    <div class="d-flex align-center gap-2">
                        <MudText>Layer: @_currentLayerIndex</MudText>
                        @if (_currentLayerIndex > 0)
                        {
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       OnClick="RemoveLayer">
                                Remove Layer
                            </MudButton>
                        }
                    </div>
                }
            </MudPaper>
        </div>
    </div>
    <Menu @ref="_menu" IsList="true" Class="fixed left-0 top-0 z-30">
        <ListItem Context="marker">
            <MudCard @key="marker.MarkerName" >
                <MudCardHeader>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.ArrowForward"
                                       OnClick="@(() => OnMarkerClicked(new Dictionary<string, dynamic> { ["lngLat"] = marker.MarkerLngLat }))"/>
                    </CardHeaderActions>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6" Color="Color.Dark" Align="Align.Start">
                            @marker.MarkerName
                        </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="text-grey-400">
                        <MudText>
                            Distance: @Math.Round(marker.MarkerAverageDistance / 1609, 1)
                            miles
                        </MudText>
                        <MudText>
                            Duration: @marker.MarkerAverageDuration.ToReadableString()
                        </MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        </ListItem>
        <SingleItem Context="marker">
            <MudStack Class="p-6 space-y-4">
                <!-- Marker Details -->
                <MudText Typo="Typo.h6" Class="font-semibold text-blue-700 text-xl">
                    @((string?)marker.Data["Name"])
                </MudText>
                <MudDivider/>

                <!-- Actions -->
                <MudButton Variant="Variant.Filled"
                           Class="bg-blue rounded-full px-6 py-2 shadow-md transition-transform hover:scale-105 hover:shadow-lg">
                    Open in LandSearch
                </MudButton>
                <MudDivider/>

                <!-- Route Selection -->
                <MudSelect Label="Select Mode" Dense  @bind-Value="_selectedRouteName"
                           Class="bg-gray-50 rounded-md text-gray-700 hover:bg-gray-100 focus:border-blue-500 transition-all">
                    @if (marker.Routes != null)
                    {
                        @foreach ((string routeName, Route _) in marker.Routes)
                        {
                            <MudSelectItem Value="routeName">
                                @routeName
                            </MudSelectItem>
                        }
                    }
                </MudSelect>

                <!-- Route Details -->
                <MudStack Spacing="2" Class="text-gray-600">
                    <MudText Typo="Typo.body1" Class="font-normal">
                        Distance:
                        @(Math.Round(marker.Routes[_selectedRouteName].Distance)) miles
                    </MudText>
                    <MudText Typo="Typo.body1" Class="font-normal">
                        Duration:
                        @marker.Routes[_selectedRouteName].Duration.ToReadableString()
                    </MudText>
                </MudStack>
            </MudStack>
        </SingleItem>
    </Menu>

    <MudFab Size="Size.Medium" StartIcon="@Icons.Material.Filled.Menu" OnClick="@(() => _menu?.ToggleOpen())"
            Class="fixed left-2 bottom-2 z-40 bg-blue-600 hover:bg-blue-700 text-white border border-white"/>
</div>